.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: rgb(221, 175, 24);
  font-family: "Playfair Display", serif;
}

.section-padding {
  padding: 3em 1em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 4em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
.footer {
  color: #fff;
  background-color: rgb(26, 24, 24);
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 4em 0 1em;
}
.footer__box-list {
  padding: 0 0.3em;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__box-list:first-child {
  padding-left: 0;
}
.footer__box-list-link:hover {
  color: #e6a210;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box {
    margin: 0 2em;
    width: 30%;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    color: #eee;
    text-decoration: none;
    margin: 1em;
    padding: 0.4em;
  }
  .footer__box-list-item a:hover {
    color: #e6a210;
  }
}
.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid transparent;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: #2e2e2e;
}

.social-box {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 1em 0;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
  color: #e6a210;
}
.social-box__item {
  padding: 1em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: rgb(255, 255, 255);
}
.social-box__item:hover {
  color: #e6a210;
}

.social-box-color {
  color: #2b2828;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.65, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.65, 1);
  background-image: linear-gradient(45deg, rgb(37, 39, 41), rgb(43, 42, 48));
  z-index: 100;
}
.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.2rem;
  color: #fff;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #fff;
  content: "";
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  background-color: #e6a210;
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 0.6s both;
          animation: navItemsAnimation 0.6s both;
}

.arrow-box__btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1em;
  font-size: 2em;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
  background-color: rgba(255, 0, 0, 0);
}
.arrow-box__btn-color {
  color: rgb(255, 255, 255);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, rgba(21, 22, 22, 0.75), rgba(25, 25, 27, 0.75));
  background-attachment: scroll;
  overflow: hidden;
}
.header h1 {
  display: none;
}
.header img {
  width: 170%;
}
.header__heading {
  font-family: "Playfair Display", serif;
  font-size: 4.8rem;
  font-weight: 500;
  color: #e6a210;
  text-transform: uppercase;
}
.header__text {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  color: #e6a210;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.header {
  height: 400px;
  text-align: center;
  background-color: rgb(24, 24, 24);
  color: #fff;
  background-color: rgb(24, 24, 24);
}
.header img {
  width: 40%;
}

.offer {
  position: relative;
  overflow: hidden;
}
.offer .white-block-left {
  background-color: rgb(26, 24, 24);
}
.offer__option {
  margin: 1em 0;
  -webkit-box-shadow: 5px 5px 10px rgb(240, 240, 240);
          box-shadow: 5px 5px 10px rgb(240, 240, 240);
  background-color: rgb(241, 241, 241);
}
.offer__option-img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.offer__option-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.offer__option-info {
  padding: 2em;
}
.offer__option-price {
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 300;
}
.offer__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}
.offer__option-text {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  color: #2e2e2e;
}
.offer__option-btn {
  margin-top: 1em;
  padding: 0.8em;
  width: 100%;
  color: #fff;
  background-color: rgb(221, 175, 24);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 567px) {
  .nav__item {
    font-size: 2.8rem;
  }
  .header img {
    width: 100%;
  }
  .offer__card-img-icon {
    width: 40%;
  }
}
@media (min-width: 576px) {
  .offer__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offer__option-img {
    width: 50%;
    height: auto;
  }
  .offer__option-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__option-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
  .offer__option-btn {
    padding: 1em;
    width: 300px;
  }
}
@media (min-width: 768px) {
  .offer__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer__card {
    margin: 1em;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .offer__option-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .offer__option-text {
    font-size: 1.5em;
  }
  .offer__option-btn {
    width: 300px;
  }
}
@media (min-width: 1100px) {
  .about__card {
    width: 30%;
  }
  .offer__card {
    width: 20%;
  }
}/*# sourceMappingURL=price.css.map */