// Header
// O nas
// Hero img
// Oferta
// Wizyta
// Galeria
// Kontakt



@import "./colors";
@import "./components";
@import "./mixins";
@import "./nav";
@import "./header";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

// Header

.header {
	padding: 2em;
	height: 100vh;
	text-align: center;
	color: $pure-white;
	background: $blue-gradient;
	@include heroImages("../img/diamond.jpg");
	background-attachment: scroll;
	overflow: hidden;
	
	img {
		width: 170%;
	}
}

// O nas

.about {
	position: relative;
	overflow: hidden;
	&__text {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);

		p {
			font-family: "Dancing Script", cursive;
			z-index: -1000;
			letter-spacing: 20px;
			font-size: 30em;
			color: rgb(211, 211, 211);
		}
	}
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.about__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.about__card-info {
				transform: rotateY(0deg);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;

			&--first {
				background-image: $light-blue-gradient, url(../portret/woman.jpg);
			}

			&--two {
				background-image: $light-blue-gradient, url(../portret/woman2.jpg);
			}

			&--three {
				background-image: $light-blue-gradient, url(../portret/woman3.jpg);
			}

			&-title {
				font-family: "Open Sans", sans-serif;
				color: $main-yellow;
				font-size: 2.8rem;
				font-weight: 300;
			}

			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $light-blue-gradient-solid;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&-title {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.2em;
				font-family: "Open Sans", sans-serif;
				color: $main-yellow;
				font-size: 2.8rem;
				font-weight: 300;
			}

			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;

				&-item {
					padding: 1em;
					font-size: 1.4rem;
					border-bottom: 1px solid $light-white;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			&-btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 2em;
				padding: 1em;
				border-radius: 8px;
				width: 80%;
				border: none;
				background-color: $green-color;
				cursor: pointer;

				&::before {
					background-color: $green-color-hover;
				}
			}
		}
	}
}

// Hero img
.hero-img {
	position: relative;
	padding: 10em 2em;
	@include heroImages("../img/lipstick.jpg");
	text-align: center;
	color: $pure-white;
	overflow: hidden;
	
	
	&__title {
		font-family: "Playfair Display", serif;
		color: $main-yellow;
		font-size: 4.8rem;
		margin-bottom: 0.5em;
	}
	&__text {
		padding: 0em 0;
		font-size: 1.2em;
	}
	.white-block-left {
		background-color: rgb(255, 255, 255);
	}
	
}

.voucher-img {
	position: relative;
	padding: 10em 2em;
	@include heroImages("../img/makeup.jpg");
	text-align: center;
	color: $pure-white;
	overflow: hidden;
	
	
	&__title {
		font-family: "Playfair Display", serif;
		color: $main-yellow;
		font-size: 4.8rem;
		margin-bottom: 0.5em;
	}
	&__text {
		padding: 0em 0;
		font-size: 1.2em;
	}
	.white-block-left {
		background-color: rgb(243, 243, 243);
	}
	
}

// Oferta

.offer {
	background-color: rgb(255, 255, 255);
	position: relative;
	overflow: hidden;

	&__text {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);

		p {
			font-family: "Dancing Script", cursive;
			z-index: -1000;
			letter-spacing: 20px;
			font-size: 30em;
			color: rgb(236, 236, 236);
		}
	}

	&__card {
		position: relative;
		margin: 1em 0;
		height: 200px;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 8px;
		transition: transform 0.3s;
		cursor: pointer;

		i {
			margin-top: -0.3em;
		}

		&-img {
			position: relative;
			padding: 4em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;
			z-index: 1;

			&-two {
				z-index: -10;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-decoration: line-through;
				font-size: 1.1em;

				color: rgb(221, 221, 221);
			}
			&-icon {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
			}

			&-title {
				font-family: "Open Sans", sans-serif;
				color: $main-yellow;
				font-size: 1.4rem;
				margin-top: 1em;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;
			}
		}
	}

	&__card:hover {
		transform: scale(1.1);
	}
}


// wizyta

.visit {
	position: relative;
	padding: 6em 2em;
	background-color: rgb(29, 29, 29);
	text-align: center;
	color: $pure-white;
	overflow: hidden;

	&__card {
		position: relative;
		margin: 1em 0;
		height: 150px;
		
		color: $pure-white;
		text-align: center;
		perspective: 1000px;
		background-color: rgb(27, 27, 27);
		border-radius: 8px;
		transition: transform 0.3s;
		cursor: pointer;
		&-box {
			a {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				img {
					width: 100px;
				}
				
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 1.2em;
				padding: 2em;
				
				
			}
		}
	}

	&__text {
		font-size: 1.2em;
		padding: 2em;
		margin-top: -5em;
	
	}
	&__option {
		
		text-decoration: none;
		color: #ccc;
	}

	&__card:hover {
		transform: scale(1.1);
	}
}

// Galeria

.image-grid {
	--gap: 16px;
	--num-cols: 3;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}


// Kontakt
.contact {
	position: relative;
	background-color: rgb(243, 243, 243);
	overflow: hidden;

	.white-block-left {
		background-color: $black-footer;
	}

	&__info {
		&-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $dark;
			padding: 2em;
		}
		&-text {
			text-align: center;
			background-color: rgb(255, 255, 255);
			width: 350px;
			margin: 1em;
			border-radius: 8px;
			text-decoration: none;
			color: $dark;
			padding: 1.1em;
			transition: background-color 0.3s;

			&:hover{
				background-color: $main-yellow;
				color: rgb(255, 255, 255);
			}
		}
	}

	&__heading {
		font-family: "Open Sans", sans-serif;
		font-size: 2em;
		margin: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__form-input {
		@include contactForm;
	}

	&__form-textarea {
		@include contactForm;

		max-width: 100%;
		min-width: 100%;
		width: 100%;
		min-height: 150px;
		max-height: 300px;
	}
	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		margin-bottom: 2em;
		max-width: 300px;

		color: $pure-white;
		border: none;
		border-radius: 8px;
		background-color: $main-yellow;
		cursor: pointer;
	}
}


// Footer
// _components.scss

// MEDIA Q

@media (min-width: 448px) {
	.offer__card {
		&-img {
			&-icon {
				width: 50%;
			}
		}
	}
}
@media (min-width: 567px) {
	.nav {
		&__item {
			font-size: 2.8rem;
		}
	}
	.header {
		img {
			width: 100%;
		}
	}
	.offer__card {
		&-img {
			&-icon {
				width: 40%;
			}
		}
	}
}
@media (min-width: 768px) {
	.about {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 30%;
		}
	}
	.offer {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 20%;
			&-img {
				&-icon {
					width: 100%;
				}
			}
		}
	}
	.visit {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 20%;
		}
	}
	.header {
		img {
			width: 80%;
		}
	}
	.hero-img {
		&__text {
			font-size: 2em;
		}
	}
}

@media (min-width: 1100px) {
	.about {
		&__card {
			width: 30%;
		}
	}
	.offer {
		&__card {
			width: 20%;
		}
	}
	.header {
		img {
			width: 50%;
		}
	}
	.contact {
		position: relative;
		background-color: rgb(243, 243, 243);
		overflow: hidden;

		&__info {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			&-content {
				font-size: 1.2em;
			}

			&-map {
				width: 60%;
				height: 450px;
			}
		}

		&__heading {
			font-size: 2.8em;
		}

		&__container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__form {
			width: 50%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}
