@import "./colors";
@import "./components";
@import "./mixins";
@import "./nav";
@import "./header";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}


// Header

.header {
	height: 400px;
	text-align: center;
	background-color: rgb(24, 24, 24);
	color: $pure-white;
	background-color: rgb(24, 24, 24);

	img {
		width: 40%;
	}

	

}
// szczegóły detail

.offer{
    position: relative;
    overflow: hidden;

	.white-block-left {
		background-color: rgb(26, 24, 24);
	}

    &__option{
        margin: 1em 0;
        box-shadow: 5px 5px 10px rgb(240, 240, 240);
        background-color: rgb(241, 241, 241);
        
        &-img{
            width: 100%;
            
            transition: transform .3s;
            
            &:hover{
                transform: scale(1.1);
            }
        }
        &-info{
            padding: 2em;
        }
        &-price{
            margin-bottom: 0.5em;
            font-size: 2rem;
            font-weight: 300;
        }
        &-heading{
            margin-bottom: 0.5em;
            font-size: 2.4rem;
            font-weight: 300;
        }
        &-text{
            margin-bottom: 0.5em;
            font-size: 1.3rem;
            color: $dark;
        }
        &-btn{
            margin-top: 1em;
            padding: 0.8em;
            width: 100%;
            color: #fff;
            background-color: rgb(221, 175, 24);
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}


// MEDIA Q
@media (min-width: 567px) {
	.nav {
		&__item {
			font-size: 2.8rem;
		}
	}
	.header {
		img {
			width: 100%;
		}
	}
	.offer__card {
		&-img {
			&-icon {
				width: 40%;
			}
		}
	}
}


@media (min-width: 576px){
    .offer{
        &__option{
            display: flex;
            margin: 2em 0;
            width: 100%;

            &-img{
                width: 50%;
                height: auto;


            }
            &-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &-heading{
                margin-bottom: 0.5em;
                font-size: 3.6rem;
            }
            &-btn{
                padding: 1em;
                width: 300px;
            }
        }
    }
}


@media (min-width: 768px) {
	.offer {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 20%;
		}
       
	}
}
@media(min-width:992px){
    .offer{
        &__option{
           
            &-img{
                object-fit: cover;
                height: 100%;
            }
            &-text{
                font-size: 1.5em;
            }
            &-btn{
                width: 300px;
            }
        }
    }
}

@media (min-width: 1100px) {
	.about {
		&__card {
			width: 30%;
		}
	}
	.offer {
		&__card {
			width: 20%;
		}
	}
}

